/*
Project Name: Blank Template
Client: Relaxr
Author: Michael Jones
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134, 141, 157);
  background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  width: 100%;
  margin: auto;
  height: 500px;
  font-weight: 800px;
  font-size: 24px;
  color: white;
}

h2 {
  text-align: center;
}

header {
}

footer {
  color: #f9e42e;
  text-align: center;
  font-size: 24px;
  background-color: #121212;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

a:{
  
}
.quote{
  background-image:url("../testimonial_bg.jpg");
  background-attachment: fixed;

}
.benefits {
  background: #f0efef;
  font-weight: 300px;
  font-size: 20px;
  font-style:normal;
  
}

#tap {
  color: black;
}

.click {
  background: yellow;
  color: #033048;
  padding:20px;
  font-weight:bold;
border-radius:12px;
}

.push {
  text-align: center;
  font-weight: 800px;
  font-size: 24px;
  padding:20px;
}

.happy {
  color: white;
  font-weight: 600px;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  padding:20px;
}

.pop {
  background: #033048;
  color: white;
  font-weight: 800px;
  font-size: 20px;
  border-radius: 12px black solid;
  padding: 14px;
}

.joke {
  background-color: #f9e42e;
  
}

.done {
  text-align: center;
  font-size: 9px;
  color: white;
}